@import url('style.css');

body {
	background: #a429bc;
}

.title {
	background: #9225a7;
}

.form--row input {
	&:focus {
		border-color: #9225a7;
	}
}

.form--submit-button input {
	background: #9225a7;
	border: 1px solid #9225a7;

	&:hover {
		background: #7f2092;
	}
}


.form--switch-auth a {
	color: #9225a7;
}
